body {
  text-align: center;
  margin-top: 64px;

  font-family: 'Open Sans', sans-serif;
}

body img {
  margin: 0 auto;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  color: #3F3D56;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;


  margin-bottom: 16px;
}

h1 span {
  color: #EE24FF;

  font-weight: bold;
}

#main {
  width: 540px;
  margin: 32px auto 64px;
  text-align: center;
}

p {
  color: #828282;

  font-size: 15px;
  line-height: 22px;

  margin-bottom: 32px;
}
p span {
  font-weight: bold;
  
  color: #828282;
}

strong {
  color: black;
}

.line {
  width: 391px;
  height: 0px;
  margin: 0 auto 16px;

  border: 1px solid #ECEFF2;;
}


footer {
  margin-bottom: 40.83px;
  text-align: center;
}

footer a + a{
  margin-left: 42px;
}

a {
  color: #3F3D56;
  text-decoration: none
}

